.container {
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.itemImg {
  padding: 15px 15px 0 15px;
  display: grid;

  img {
    grid-area: 1/1;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  span {
    grid-area: 1/1;
    place-self: start end;
    margin: 10px;
    display: inline-block;
    z-index: 1;
    background: #ffffff;
    padding: 5px 8px;
    border-radius: 15px;
    font-weight: bold;
  }
}

.itemContent {
  padding: 0 15px;

  h3 {
    width: 100%;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 0.9rem;
    }
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.container button {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0 0px 5px 5px;
  background: #a1691d;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}
