.container {
  width: 30rem;

  .login {
    font-size: 2rem;
    padding-bottom: 2rem;
    font-family: "Playfair Display", serif;
  }
}

.form {
  margin-bottom: 2rem;
  label {
    display: block;
    font-size: 1.1rem;
    color: #424242;
    padding-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background: #eeeeee;
    border: 2px solid transparent;
    transition: border 0.2s ease;


    &:hover {
      border: 2px solid #241513;
    }
  }

  button {
    padding: 0.875rem 3rem;
    border-radius: 8px;
    border:none;
    background: #241513;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}
