.container {
  max-width: max-content;
  margin: 0 auto;

  .title {
    text-align: center;
    position: relative;
    font-family: 'Amatic SC', sans-serif;
    font-size: 4.2rem;
    margin-top: 140px;
    margin-bottom: 2rem;

    &::before {
      position: absolute;
      left: -120px;
      top: 50%;
      content: '';
      display: inline-block;
      width: 100px;
      height: 2px;
      background: #000000;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: -120px;
      content: '';
      display: inline-block;
      width: 100px;
      height: 2px;
      background: #000000;
    }
  }

}

@media(max-width: 425px) {
  .container .title {
    font-size: 3.6rem;
    margin-top: 80px;
    margin-bottom: 1.5rem;

    &::before,
    &::after {
      width: 70px;
    }
    &::after {
      right: -80px;
    }
    &::before {
      left: -80px;
    }
  }
}

@media(max-width: 375px) {
  .container .title {
    font-size: 2.5rem;
  }
}

