.link {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.3rem 4.3rem;
  font-size: 1.2rem;

  &:hover {
    filter: contrast(60%);
  }
}

@media(max-width: 425px) {
  .link {
    font-size: 1rem;
    padding: 1.5rem 2.5rem;
  }
}