.container {
  min-height: calc(100vh - 80px);
  max-height: max-content;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.cartMain {
  background-color: #e4e4e4;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 500px;
    height: 400px;
    background: url('../../assets/GraoCafe.png') no-repeat center;
    opacity: 60%;
    top: 0;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 500px;
    height: 400px;
    background: url('../../assets/GraoCafe.png') no-repeat center;
    right: 0;
    bottom: 0;
    opacity: 60%;
    z-index: -1;
  }
}

@media (max-width: 1000px) { 
  .cartMain {
    &:before, &::after {
      display: none;
    }
  }
}
.tabelaProdutos {
  flex: 2;
  margin: 20px;
  font-family: Arial, sans-serif;

  .titleCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;

    th,
    td {
      text-align: left;
    }
    th {
      padding: 1rem;
    }
    td {
      padding: 1.5rem 1rem;
    }
    .tdImg {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        border-radius: 6px;
      }
    }
    th {
      background-color: #a1691d;
    }

    .quantityButtons {
      div {
        display: flex;
        align-items: center;
        gap: 0.7rem;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
        background-color: #644a3a;
        color: white;
        border: none;
        transition: background-color 0.3s;

        &:hover {
          filter: brightness(80%);
        }
      }
    }
  }
}
.deleteBin {
  cursor: pointer;
}
.cardTotal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ccc;
  padding: 1rem;
  border-radius: 10px;

  h1 {
    padding-bottom: 1rem;
  }

  .cupomDesconto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 1rem;
    width: 100%;

    p {
      font-size: 1.1rem;
      cursor: pointer;
      text-decoration: underline;
      transition: color 0.2s ease;

      &:hover {
        color: #644a3a;
      }
    }

    input {
      padding: 5px;
      border-radius: 4px;
      outline: none;
      border: 1px solid #a1691d;
    }

    button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background: #644a3a;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

.total {
  width: 100%;
  font-size: 1.2rem;
  background: #eee;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
.valorComDesconto {
  font-weight: bold;
}

.valorSemDesconto {
  margin-right: 5px;
  text-decoration: dotted;
}
.pagamentoButton {
  padding: 10px;
  margin-top: 1rem;

  button {
    background: #644a3a;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;

    &:hover {
      filter: brightness(80%);
    }
  }
}
.descontoSucesso {
  font-weight: bold;

  &:hover {
    color: initial !important;
  }
}

.subTotal {
  margin-right: 10px;
  text-decoration: line-through;
}
.numberTotal {
  font-weight: bold;
}

@media(max-width: 1000px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .tabelaProdutos {
    flex: initial;
  }
}

@media(max-width: 600px) {
  .tabelaProdutos {
    .titleCart {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
    table {
      th,
      td {
        text-align: left;
      }
      th {
        padding: 0.5rem;
      }
      td {
        padding: 0.5rem;
      }
      .tdImg {
        img {
          display: none;
        }
      }
    }
  }
}