.main {
  height: calc(100vh - 80px);
  background: url("../../assets/chicara.jpg") no-repeat;
  background-position: right;
  object-fit: cover;
  background-size: cover;

  .container {
    margin-left: 10rem;
    padding-top: 6rem;
    max-width: 32.688rem;
  }

  .content {
    background: #c7c3c0;
    border-radius: 0.7rem;
    padding: 4rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "Amatic SC", sans-serif;
      text-align: center;
      font-size: 4.5rem;
    }

    p {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.1rem;
    }

    a {
      background-image: linear-gradient(-180deg, #a76d1e 0%, #a76d1e 100%);
    }
  }
}

@media (max-width: 425px) {
  .main .container .content {
    background-color: rgba(199, 195, 192, 0.7);
    padding: 2rem;
    margin: 20px;

    h1 {
      font-size: 3rem;
    }
  }
}

.aboutsCoffee {
  background: #fffcf6;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    div {
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      flex: 1;
      padding: 3rem 1rem;
      background: #fffcf6;

      &:first-child {
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        border-radius: 0 8px 8px 0;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      span {
        display: block;
        font-size: 0.975rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .aboutsCoffee {
    padding: 0 10px;
    .container {
      margin-top: 1.5rem;
      flex-direction: column;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
      div {
        margin-top: 0;
      }
    }
  }
}

.sobre {
  padding: 2rem 4rem;
  display: flex;
  gap: 2rem;
  background: #fffcf6;

  .foto,
  .content {
    flex: 1;
  }

  .content {
    padding-top: 5rem;
    max-width: 600px;

    h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
      font-family: "Playfair Display", serif;
      font-weight: bold;
    }

    p {
      padding-bottom: 1rem;
      font-size: 1.2rem;
      line-height: 1.3;
    }

    span {
      display: block;
    }

    .horarioFuncionamento {
      font-weight: bold;
    }
  }

  .foto img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .sobre {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .sobre {
    padding: 2rem 20px;
  }
}

.containerMenu {
  .button {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    gap: 2.5rem;

    button {
      padding: 0.875rem 1.5rem;
      font-weight: bold;
      font-size: 1.1rem;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        background: #000;
        color: #ffffff;
      }
    }

    button.selected {
      background: #000;
      color: #ffffff;
    }
  }
}

.eventos {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  gap: 5rem;

  .content {
    .img {
      display: grid;
      margin-bottom: 1rem;

      img {
        width: 100%;
        border-radius: 10px;
        grid-area: 1/1;
      }

      span {
        grid-area: 1/1;
        place-self: start end;
        margin: 10px;
        padding: 5px 10px;
        background: #fff;
        border-radius: 5px;
        font-weight: bold;
      }
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.875rem;
    }

    button {
      padding: 1rem 4rem;
      border: none;
      background: #9e651d;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 10px;
    }
  }
}

.slider {
  padding: 3.5rem 0;
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 500px;
    height: 400px;
    background: url("../../assets/GraoCafe.png") no-repeat center;
    top: 6rem;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 500px;
    height: 400px;
    background: url("../../assets/GraoCafe.png") no-repeat center;
    top: 6rem;
    right: 0;
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .slider {
    padding: 0;
  }
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loadingContainer {
  text-align: center;
}

.loadingText {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .containerMenu .button {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .sobre {
    flex-direction: column;

    .content {
      padding-top: 0;
    }
  }

  .containerMenu {
    padding: 10px;
  }

  .eventos {
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .main .container {
    margin-left: 0;
  }

  .eventos {
    flex-direction: column;
  }

  .slider {
    &::after,
    &::before {
      display: none;
    }
  }

  .containerMenu .button {
    gap: 1.2rem;

    button {
      padding: 0.875rem 1.2rem;
    }
  }
}
