.header {
  background: #241513;
  padding: 25px 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  p {
    color: #644A3A;
    font-size: 1.3rem;
    font-family: serif;
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;

    a {
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      padding: 10px 15px;
      color: #C7C3C0;

      &:hover {
        filter: brightness(80%);
      }
    }
  }

  div {
    display: flex;
    gap: 1.5rem;

    a {
      padding: 10px;
      &:hover {
        filter: brightness(85%);
      }
    }
  }
}